* {
  margin: 0;
}
html, body {
  height: 100%;
}

header {
    height: 85px;
    padding: 20px 0 1px;
    background-color: #f3f3f3;
    background-image: linear-gradient(to bottom,#ebebeb,#ffffff);
    background-repeat: repeat-x;
    border-bottom: 1px solid #C0C0C0;
    @media (max-width: 500px) {
        height: 45px;
    }

    img {
        margin: 0 50px;
        width: 40%;
        max-width: 260px;
        @media (max-width: 440px) {
            margin: 0 10px;
        }

    }
    h1 {
        display: inline;
        font-family: "Yanone Kaffeesatz", arial;
        font-weight: 400;
        font-size: 56px;
        color: #004488;
        position: relative;
        bottom: 8px;
        @media (max-width: 600px) {
            font-size: 40px;
        }
        @media (max-width: 440px) {
            font-size: 20px;
        }
    }
}

.container {
    font-family: "Ubuntu", arial;
    background: linear-gradient(#eaeaea,#bbbbbb);
    min-height: calc(100% - 130px);
    margin-bottom: -30px;
    overflow: auto;
    &:after {
        content: "";
        display: block;
        height: 30px;
    }
    @media (max-width: 670px) {
        background: linear-gradient(white,white);
        min-height: calc(100% - 105px);
        margin-bottom: -10px;
    }
}

.game-section {
    margin: 40px auto;
    width: 90%;
    background-color: white;
    box-shadow: 0 2px 7px rgba(2, 67, 4, 0.5);
    padding: 50px 6%;
    max-width: 650px;
    text-align: center;
    @media (max-width: 670px) {
        margin: 0;
        box-shadow: 0 0 0 rgba(2, 67, 4, 0.5);
    }
}

.level {
    float: right;
    font-family: "Ubuntu", arial;
    font-size: 22px;
    color: #808080;
    label {
        font-size: 22px;
        margin-right: 10px;
    }

    select {
        width: 100px;
        padding: 5px 10px;
        border: 1px solid #727b73;
        border-radius: 4px;
        outline: 0;
        background: #ccc;
        background: linear-gradient(to bottom,#fff 0,#daeade 100%);

    }
}

.color-targets {
    margin: 30px auto;
    display: inline-block;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(160,160,160,1.0);
    padding: 10%;
    width: 80%;
    background-color: #f3f3f3;
    @media (max-width: 520px) {
        padding: 4%;
        width: 92%;
    }

    .color-target {
        width: 80px;
        height: 80px;
        margin: 20px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 200ms;
        transition: box-shadow 500ms;
        box-shadow: 2px 3px 16px black;
        display: none;
        @media (max-width: 520px) {
            width: 40px;
            height: 40px;
            margin: 15px;
        }

        &.active {
            display: inline-block;
        }
        &#target0 {
            background-color: red;
        }
        &#target1 {
            background-color: #ffa200;
        }
        &#target2 {
            background-color: green;
        }
        &#target3 {
            background-color: blue;
        }
        &#target4 {
            background-color: #ff00d7;
        }
        &#target5 {
            background-color: #d4ccc0;
        }
        &#target6 {
            background-color: #1dff1d;
        }
        &#target7 {
            background-color: #00f6ff;
        }
        &#target8 {
            background-color: #001931;
        }
        &#target9 {
            background-color: #c3447a;
        }
        &#target10 {
            background-color: #1dab9c;
        }
        &#target11 {
            background-color: #00006d;
        }
        &#target12 {
            background-color: #dc003f;
        }
        &#target13 {
            background-color: #70d8a7;
        }
        &#target14 {
            background-color: #0c0080;
        }
        &#target15 {
            background-color: #black;
        }
        &.selected {
            opacity: 1;
            box-shadow: 1px 1px 8px black;
            transform: translateY(3px);
        }
        &.hidden {
            display: none;
        }
        &:active {
          box-shadow: 1px 1px 8px black;
          transform: translateY(3px);
        }
        &.wrong {
            box-shadow: 2px 3px 120px yellow;
        }
    }
    &.wrong {
        box-shadow: inset 2px 3px 40px red;
    }
}
.message {
    font-size: 27px;
    color: #10007b;
    min-height: 32px;
    display: inline-block;
    @media (max-width: 670px) {
        font-size: 20px;
    }
}

.scoreboard {
    font-size: 22px;
    color: #808080;
    width: 120px;
    margin-bottom: 5px;
    span {
        color: black;
        font-size: 24px;
        float: right;
    }
}

button {
    background: #0080d6;
    background-image: linear-gradient(to bottom, #26a5fb, #1b84b9);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 40px;
    text-decoration: none;
    cursor: pointer;
    float: right;
    &:hover {
        background: #0086d4;
        background-image: linear-gradient(to bottom, #0086d4, #3498db);
        text-decoration: none;
    }
}

footer {
    height: 30px;
    padding: 20px;
    background-color: #373737;

    a {
        color: white;
        text-decoration: none;
        &:visited {
            color: white;
        }
    }
}


li {
    list-style: none;
}
