* {
  margin: 0;
}
html, body {
  height: 100%;
}

header {
    height: 85px;
    padding: 20px 0 1px;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top,#ebebeb,#ffffff);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ebebeb),to(#ffffff));
    background-image: -webkit-linear-gradient(top,#ebebeb,#ffffff);
    background-image: -o-linear-gradient(top,#ebebeb,#ffffff);
    background-image: linear-gradient(to bottom,#ebebeb,#ffffff);
    background-repeat: repeat-x;
    border-bottom: 1px solid #C0C0C0;

    img {
        margin: 0 50px;
    }
    h1 {
        display: inline;
        font-family: "Yanone Kaffeesatz";
        font-weight: 400;
        font-size: 56px;
        color: #004488;
        position: relative;
        bottom: 10px;
    }
}

.container {
    background: linear-gradient(#eaeaea,#bbbbbb);
    min-height: calc(100% - 130px);
    margin-bottom: -30px;
    // background-image: -moz-linear-gradient(top,#7F7F7F,#ffffff);
    // background-image: -webkit-gradient(linear,0 0,0 100%,from(#7F7F7F),to(#ffffff));
    // background-image: -webkit-linear-gradient(top,#7F7F7F,#ffffff);
    // background-image: -o-linear-gradient(top,#7F7F7F,#ffffff);
    // background-image: linear-gradient(to bottom,#7F7F7F,#ffffff);
    padding: 0 15px;
    overflow: auto;
    &:after {
        content: "";
        display: block;
        height: 30px;
    }
}

.game-section {
    margin: 50px 20px;
    width: 600px;
    height: 500px;
    background-color: white;
    box-shadow: 0 2px 7px rgba(2,67,4,.5);
    padding: 50px;
}


.color-targets {
    margin: 50px auto;
    display: block;
    .color-target {
        width: 80px;
        height: 80px;
        margin: 20px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        display: inline-block;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 300ms;

        &.red {
            background-color: red;
        }
        &.yellow {
            background-color: #ffa200;
        }
        &.green {
            background-color: green;
        }
        &.blue {
            background-color: blue;
        }
        &.selected {
            opacity: 1;
        }
    }
}


button {
  background: #0080d6;
  background-image: -webkit-linear-gradient(top, #0080d6, #025680);
  background-image: -moz-linear-gradient(top, #0080d6, #025680);
  background-image: -ms-linear-gradient(top, #0080d6, #025680);
  background-image: -o-linear-gradient(top, #0080d6, #025680);
  background-image: linear-gradient(to bottom, #0080d6, #025680);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  float: right;
}

button:hover {
  background: #0086d4;
  background-image: -webkit-linear-gradient(top, #0086d4, #3498db);
  background-image: -moz-linear-gradient(top, #0086d4, #3498db);
  background-image: -ms-linear-gradient(top, #0086d4, #3498db);
  background-image: -o-linear-gradient(top, #0086d4, #3498db);
  background-image: linear-gradient(to bottom, #0086d4, #3498db);
  text-decoration: none;
}

footer {
    height: 30px;
    padding: 20px;
    background-color: #373737;
    color: white;
}


li {
    list-style: none;
}
