* {
  margin: 0; }

html, body {
  height: 100%; }

header {
  height: 85px;
  padding: 20px 0 1px;
  background-color: #f3f3f3;
  background-image: -webkit-linear-gradient(top, #ebebeb, #ffffff);
  background-image: linear-gradient(to bottom, #ebebeb, #ffffff);
  background-repeat: repeat-x;
  border-bottom: 1px solid #C0C0C0; }
  @media (max-width: 500px) {
    header {
      height: 45px; } }
  header img {
    margin: 0 50px;
    width: 40%;
    max-width: 260px; }
    @media (max-width: 440px) {
      header img {
        margin: 0 10px; } }
  header h1 {
    display: inline;
    font-family: "Yanone Kaffeesatz", arial;
    font-weight: 400;
    font-size: 56px;
    color: #004488;
    position: relative;
    bottom: 8px; }
    @media (max-width: 600px) {
      header h1 {
        font-size: 40px; } }
    @media (max-width: 440px) {
      header h1 {
        font-size: 20px; } }

.container {
  font-family: "Ubuntu", arial;
  background: -webkit-linear-gradient(#eaeaea, #bbbbbb);
  background: linear-gradient(#eaeaea, #bbbbbb);
  min-height: calc(100% - 130px);
  margin-bottom: -30px;
  overflow: auto; }
  .container:after {
    content: "";
    display: block;
    height: 30px; }
  @media (max-width: 670px) {
    .container {
      background: -webkit-linear-gradient(white, white);
      background: linear-gradient(white, white);
      min-height: calc(100% - 105px);
      margin-bottom: -10px; } }

.game-section {
  margin: 40px auto;
  width: 90%;
  background-color: white;
  box-shadow: 0 2px 7px rgba(2, 67, 4, 0.5);
  padding: 50px 6%;
  max-width: 650px;
  text-align: center; }
  @media (max-width: 670px) {
    .game-section {
      margin: 0;
      box-shadow: 0 0 0 rgba(2, 67, 4, 0.5); } }

.level {
  float: right;
  font-family: "Ubuntu", arial;
  font-size: 22px;
  color: #808080; }
  .level label {
    font-size: 22px;
    margin-right: 10px; }
  .level select {
    width: 100px;
    padding: 5px 10px;
    border: 1px solid #727b73;
    border-radius: 4px;
    outline: 0;
    background: #ccc;
    background: -webkit-linear-gradient(top, #fff 0, #daeade 100%);
    background: linear-gradient(to bottom, #fff 0, #daeade 100%); }

.color-targets {
  margin: 30px auto;
  display: inline-block;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  box-shadow: 0 1px 6px #a0a0a0;
  padding: 10%;
  width: 80%;
  background-color: #f3f3f3; }
  @media (max-width: 520px) {
    .color-targets {
      padding: 4%;
      width: 92%; } }
  .color-targets .color-target {
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
    -webkit-transition: box-shadow 500ms;
    transition: box-shadow 500ms;
    box-shadow: 2px 3px 16px black;
    display: none; }
    @media (max-width: 520px) {
      .color-targets .color-target {
        width: 40px;
        height: 40px;
        margin: 15px; } }
    .color-targets .color-target.active {
      display: inline-block; }
    .color-targets .color-target#target0 {
      background-color: red; }
    .color-targets .color-target#target1 {
      background-color: #ffa200; }
    .color-targets .color-target#target2 {
      background-color: green; }
    .color-targets .color-target#target3 {
      background-color: blue; }
    .color-targets .color-target#target4 {
      background-color: #ff00d7; }
    .color-targets .color-target#target5 {
      background-color: #d4ccc0; }
    .color-targets .color-target#target6 {
      background-color: #1dff1d; }
    .color-targets .color-target#target7 {
      background-color: #00f6ff; }
    .color-targets .color-target#target8 {
      background-color: #001931; }
    .color-targets .color-target#target9 {
      background-color: #c3447a; }
    .color-targets .color-target#target10 {
      background-color: #1dab9c; }
    .color-targets .color-target#target11 {
      background-color: #00006d; }
    .color-targets .color-target#target12 {
      background-color: #dc003f; }
    .color-targets .color-target#target13 {
      background-color: #70d8a7; }
    .color-targets .color-target#target14 {
      background-color: #0c0080; }
    .color-targets .color-target#target15 {
      background-color: #black; }
    .color-targets .color-target.selected {
      opacity: 1;
      box-shadow: 1px 1px 8px black;
      -webkit-transform: translateY(3px);
              transform: translateY(3px); }
    .color-targets .color-target.hidden {
      display: none; }
    .color-targets .color-target:active {
      box-shadow: 1px 1px 8px black;
      -webkit-transform: translateY(3px);
              transform: translateY(3px); }
    .color-targets .color-target.wrong {
      box-shadow: 2px 3px 120px yellow; }
  .color-targets.wrong {
    box-shadow: inset 2px 3px 40px red; }

.message {
  font-size: 27px;
  color: #10007b;
  min-height: 32px;
  display: inline-block; }
  @media (max-width: 670px) {
    .message {
      font-size: 20px; } }

.scoreboard {
  font-size: 22px;
  color: #808080;
  width: 120px;
  margin-bottom: 5px; }
  .scoreboard span {
    color: black;
    font-size: 24px;
    float: right; }

button {
  background: #0080d6;
  background-image: -webkit-linear-gradient(top, #26a5fb, #1b84b9);
  background-image: linear-gradient(to bottom, #26a5fb, #1b84b9);
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 40px;
  text-decoration: none;
  cursor: pointer;
  float: right; }
  button:hover {
    background: #0086d4;
    background-image: -webkit-linear-gradient(top, #0086d4, #3498db);
    background-image: linear-gradient(to bottom, #0086d4, #3498db);
    text-decoration: none; }

footer {
  height: 30px;
  padding: 20px;
  background-color: #373737; }
  footer a {
    color: white;
    text-decoration: none; }
    footer a:visited {
      color: white; }

li {
  list-style: none; }
