* {
  margin: 0; }

html, body {
  height: 100%; }

header {
  height: 85px;
  padding: 20px 0 1px;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #ebebeb, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ebebeb), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ebebeb, #ffffff);
  background-image: -o-linear-gradient(top, #ebebeb, #ffffff);
  background-image: linear-gradient(to bottom, #ebebeb, #ffffff);
  background-repeat: repeat-x;
  border-bottom: 1px solid #C0C0C0; }
  header img {
    margin: 0 50px; }
  header h1 {
    display: inline;
    font-family: "Yanone Kaffeesatz";
    font-weight: 400;
    font-size: 56px;
    color: #004488;
    position: relative;
    bottom: 10px; }

.container {
  background: linear-gradient(#eaeaea, #bbbbbb);
  min-height: calc(100% - 130px);
  margin-bottom: -30px;
  padding: 0 15px;
  overflow: auto; }
  .container:after {
    content: "";
    display: block;
    height: 30px; }

.game-section {
  margin: 50px 20px;
  width: 100%;
  height: 500px;
  background-color: white;
  box-shadow: 0 2px 7px rgba(2, 67, 4, 0.5);
  padding: 50px;
  max-width: 650px; }

.color-targets {
  margin: 50px auto;
  display: block;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  box-shadow: 0 1px 6px #a0a0a0;
  padding: 10%;
  background-color: #f3f3f3; }
  .color-targets .color-target {
    width: 80px;
    height: 80px;
    margin: 20px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 300ms; }
    .color-targets .color-target.red {
      background-color: red; }
    .color-targets .color-target.yellow {
      background-color: #ffa200; }
    .color-targets .color-target.green {
      background-color: green; }
    .color-targets .color-target.blue {
      background-color: blue; }
    .color-targets .color-target.selected {
      opacity: 1; }

button {
  background: #0080d6;
  background-image: -webkit-linear-gradient(top, #0080d6, #025680);
  background-image: -moz-linear-gradient(top, #0080d6, #025680);
  background-image: -ms-linear-gradient(top, #0080d6, #025680);
  background-image: -o-linear-gradient(top, #0080d6, #025680);
  background-image: linear-gradient(to bottom, #0080d6, #025680);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  float: right; }

button:hover {
  background: #0086d4;
  background-image: -webkit-linear-gradient(top, #0086d4, #3498db);
  background-image: -moz-linear-gradient(top, #0086d4, #3498db);
  background-image: -ms-linear-gradient(top, #0086d4, #3498db);
  background-image: -o-linear-gradient(top, #0086d4, #3498db);
  background-image: linear-gradient(to bottom, #0086d4, #3498db);
  text-decoration: none; }

footer {
  height: 30px;
  padding: 20px;
  background-color: #373737;
  color: white; }

li {
  list-style: none; }
