* {
  margin: 0; }

html, body {
  height: 100%; }

header {
  height: 85px;
  padding: 20px 0 1px;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #ebebeb, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ebebeb), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ebebeb, #ffffff);
  background-image: -o-linear-gradient(top, #ebebeb, #ffffff);
  background-image: linear-gradient(to bottom, #ebebeb, #ffffff);
  background-repeat: repeat-x;
  border-bottom: 1px solid #C0C0C0; }
  header img {
    margin: 0 50px;
    width: 40%;
    max-width: 260px; }
    @media (max-width: 440px) {
      header img {
        margin: 0 10px; } }
  header h1 {
    display: inline;
    font-family: "Yanone Kaffeesatz", arial;
    font-weight: 400;
    font-size: 56px;
    color: #004488;
    position: relative;
    bottom: 10px; }
    @media (max-width: 600px) {
      header h1 {
        font-size: 40px; } }
    @media (max-width: 440px) {
      header h1 {
        font-size: 20px; } }

.container {
  font-family: "Ubuntu", arial;
  background: linear-gradient(#eaeaea, #bbbbbb);
  min-height: calc(100% - 130px);
  margin-bottom: -30px;
  overflow: auto; }
  .container:after {
    content: "";
    display: block;
    height: 30px; }
  @media (max-width: 670px) {
    .container {
      background: linear-gradient(white, white); } }

.game-section {
  margin: 50px auto;
  width: 90%;
  height: 500px;
  background-color: white;
  box-shadow: 0 2px 7px rgba(2, 67, 4, 0.5);
  padding: 6%;
  max-width: 650px; }
  @media (max-width: 670px) {
    .game-section {
      margin: 0;
      box-shadow: 0 0 0 rgba(2, 67, 4, 0.5); } }

.level {
  float: right;
  bottom: 15px;
  position: relative;
  font-family: "Ubuntu", arial;
  font-size: 22px;
  color: #808080; }
  .level label {
    font-size: 22px;
    margin-right: 10px; }
  .level select {
    width: 100px;
    padding: 5px 10px;
    border: 1px solid #727b73;
    border-radius: 4px;
    outline: 0;
    background: #ccc;
    background: linear-gradient(to bottom, #fff 0, #daeade 100%); }

.color-targets {
  margin: 30px auto;
  display: block;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  box-shadow: 0 1px 6px #a0a0a0;
  padding: 10%;
  background-color: #f3f3f3; }
  .color-targets .color-target {
    width: 80px;
    height: 80px;
    margin: 20px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 200ms;
    transition: box-shadow 500ms;
    box-shadow: 2px 3px 14px black;
    display: none; }
    .color-targets .color-target.active {
      display: inline-block; }
    .color-targets .color-target.red {
      background-color: red; }
    .color-targets .color-target.yellow {
      background-color: #ffa200; }
    .color-targets .color-target.green {
      background-color: green; }
    .color-targets .color-target.blue {
      background-color: blue; }
    .color-targets .color-target.selected {
      opacity: 1;
      box-shadow: 1px 1px 8px black;
      transform: translateY(2px); }
    .color-targets .color-target.hidden {
      display: none; }
    .color-targets .color-target:active {
      box-shadow: 1px 1px 8px black;
      transform: translateY(2px); }
    .color-targets .color-target.wrong {
      box-shadow: 2px 3px 120px yellow; }

.message {
  font-size: 27px;
  color: #10007b;
  min-height: 30px;
  display: block; }

.scoreboard {
  font-size: 22px;
  color: #808080;
  width: 120px;
  margin-bottom: 5px; }
  .scoreboard span {
    color: black;
    font-size: 24px;
    float: right; }

button {
  background: #0080d6;
  background-image: linear-gradient(to bottom, #26a5fb, #1b84b9);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 40px;
  text-decoration: none;
  cursor: pointer;
  float: right; }
  button:hover {
    background: #0086d4;
    background-image: linear-gradient(to bottom, #0086d4, #3498db);
    text-decoration: none; }

footer {
  height: 30px;
  padding: 20px;
  background-color: #373737;
  color: white; }

li {
  list-style: none; }
